.svg{
    margin-top: 5%;
}

@media (max-width:600px) {
    .svg {
      scale: .9;
    }
  }
  
  @media (max-width:480px) {
    .svg {
      scale: .8;
    }
  }
  
  @media (max-width:400px) {
    .svg {
      scale: .7;
    }
  }

  @keyframes fadeInAnimation {
    from {
      opacity: 0;
      filter: blur(4px);
    }
    to {
      opacity: 1;
      filter: blur(0);
    }
  }


  .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    font-size: 60px;
  }
  
  .waviy span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(0.1s * var(--i));
  }
  
  @keyframes waviy {
    0%, 40%, 100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-20px);
    }
  }

  :root {
    --bg-color: url('../../assets/snow.jpg');
    --card-bg: url('../../assets/wet.jpg');
    --text-color: hsl(218, 23%, 16%);
    --accent-color: hsl(150, 100%, 66%);
    --card-color: linear-gradient(111.6deg, rgb(217, 111, 111) 0.4%, rgb(34, 14, 215) 100.3%);
  }
  
  /* Dark theme styles */
  .dark-theme {
    --card-bg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    --text-color: hsl(193, 38%, 86%);
    --accent-color: hsl(150, 100%, 66%);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .randomizer.spin {
    animation: spin 2s linear infinite;
  }

  